<html>

<head>
    <title>jQuery Creative assignment</title>
    <style>
        .full {
          height: 100vh;
          width: 100vw;
          background-color: rgba(230, 230, 230, .3);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .container {
          padding: 20px;
          min-width: 200px;
          min-height: 200px;
          background-color: #ffffff;
          border-radius: 10px;
          border: 1px solid #aaa;
          margin-left: 20px;
        }

        .container:first-of-type {
            margin-left: 0px;
        }

        .header-image {
          max-width: 200px;
        }
    </style>
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    <div class="full" id="content">
    </div>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>
        /* global $ */
        function loadGeoLocation() {
            return new Promise((resolve, reject) => {
                navigator.geolocation.getCurrentPosition(resolve, reject);
            }).catch(err => {
                console.warn(err);
            });
        }
        function queryYelp(coordinates) {
            const lat = coordinates.latitude;
            const long = coordinates.longitude;
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '/restaurants',
                    type: 'POST',
                    dataType: 'json',
                    data: { lat, long },
                    success: data => { resolve(data.businesses) },
                    error: err => { reject(err); },
                });
            });
        }
        $(document).ready(function () {
            // TODO loading screen
            const content = $('#content');
            let loading = '';
            loading += '<section class="container">loading...</section>';
            content.html(loading);
            loadGeoLocation()
                .then(position => queryYelp(position.coords))
                .then(restaurants => {
                    content.html('');
                    for (let i = 0; i < 3; i += 1) {
                      const randomNum = Math.floor(Math.random() * Math.floor(restaurants.length));
                      const restaurant = restaurants[randomNum];
                      let container = '';
                      container += '<section class="container">';
                      container += `<h1>${restaurant.name}</h1>`;
                      container += `<a href="tel:${restaurant.phone}">${restaurant.display_phone}</a>`;
                      container += `<p>Price: ${restaurant.price}</p>`;
                      container += '</section>';
                      content.append(container);
                    }
                });
        });
    </script>
</body>

</html>